# Introduction to Time Series Data

We will explore two main kinds of tabular data in this workshop. The first is time series data. Time series data will be *indexed* with a date and time. We'll look a bit more closely at that soon, but for now just think of it as each row having a date or time, rather than a row number.

## Pandas Refresh

One of the most popular packages in Python for working with tabular data is called Pandas, which was introduced in a supplementary notebook in DSA.

The first thing we'll do is `import` the `pandas` package. Convention has us use a shortform name - `pd` - because we'll be using the package so often.

In [27]:
import pandas as pd

And below we'll use pandas' `read_csv()` to load the data into a `DataFrame`. DataFrames are the main data structure in pandas for tabular data, and lots of other programming languages use the concept of a DataFrame too! By convention, you'll often see `df` used as a variable name.

In [ ]:
# Load the data
df = pd.read_csv("https://raw.githubusercontent.com/ImperialCollegeLondon/efds-ta-python/refs/heads/main/data/AAPL_2023.csv")

Before we do anything else, it's a good idea to take a look at the DataFrame. Some methods will let us take a closer look at parts of our data.

In [29]:
# Print the first five rows
print(df.head())

# Print the last 15 rows
print(df.tail(15))

         Date        Open        High         Low       Close   Adj Close  \
0  2023-01-03  130.279999  130.899994  124.169998  125.070000  124.216301
1  2023-01-04  126.889999  128.660004  125.080002  126.360001  125.497498
2  2023-01-05  127.129997  127.769997  124.760002  125.019997  124.166641
3  2023-01-06  126.010002  130.289993  124.889999  129.619995  128.735229
4  2023-01-09  130.470001  133.410004  129.889999  130.149994  129.261627

      Volume
0  112117500
1   89113600
2   80962700
3   87754700
4   70790800
           Date        Open        High         Low       Close   Adj Close  \
235  2023-12-08  194.199997  195.990005  193.669998  195.710007  195.460587
236  2023-12-11  193.110001  193.490005  191.419998  193.179993  192.933807
237  2023-12-12  193.080002  194.720001  191.720001  194.710007  194.461868
238  2023-12-13  195.089996  198.000000  194.850006  197.960007  197.707718
239  2023-12-14  198.020004  199.619995  196.160004  198.110001  197.857529
240  2023-12-15  197.529999  198.399994  197.000000  197.570007  197.318222
241  2023-12-18  196.089996  196.630005  194.389999  195.889999  195.640350
242  2023-12-19  196.160004  196.949997  195.889999  196.940002  196.689026
243  2023-12-20  196.899994  197.679993  194.830002  194.830002  194.581711
244  2023-12-21  196.100006  197.080002  193.500000  194.679993  194.431885
245  2023-12-22  195.179993  195.410004  192.970001  193.600006  193.353287
246  2023-12-26  193.610001  193.889999  192.830002  193.050003  192.803986
247  2023-12-27  192.490005  193.500000  191.089996  193.149994  192.903839
248  2023-12-28  194.139999  194.660004  193.169998  193.580002  193.333298
249  2023-12-29  193.899994  194.399994  191.729996  192.529999  192.284637

        Volume
235   53377300
236   60943700
237   52696900
238   70404200
239   66831600
240  128256700
241   55751900
242   40714100
243   52242800
244   46482500
245   37122800
246   28919300
247   48087700
248   34049900
249   42628800

Other methods and attributes can give us an overview, and give us further insights to our data in general. `shape()` will tell us the number of rows and columns in our data frame, while `info()` will give us some info on the data type (`dtype`) of each column.

You'll notice the types are slightly different from the usual Python types - this is because they belong to the `numpy` package, which sits under the hood of `pandas`. We'll look more at `numpy` tomorrow, but for now here is a word about each of the types in our data frame.

- `float64` - 64-bit floating point (number with a decimal point)
- `int64` - 64-bit integer (whole number)
- `object` - other Python data types (strings in this case)

In [30]:
# Print rows and columns
print("ðŸš£ Rows and columns: ", df.shape, "\n")

# Print summary info
print("â„¹ Info:")
print(df.info())

ðŸš£ Rows and columns:  (250, 7)

â„¹ Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       250 non-null    object
 1   Open       250 non-null    float64
 2   High       250 non-null    float64
 3   Low        250 non-null    float64
 4   Close      250 non-null    float64
 5   Adj Close  250 non-null    float64
 6   Volume     250 non-null    int64
dtypes: float64(5), int64(1), object(1)
memory usage: 13.8+ KB
None

For a look at some actual data within the data frame, we can use square bracket notation and `iloc` to access columns and rows. The `i` in `iloc` refers to **integer-based indexing**, so looking at a row or column *number*.

In [31]:
# Access a column
print(df["Close"])

# Access multiple columns
print(df[["Open", "Close"]])

# Access a row
print(df[df["Date"] == "2023-08-18"])

# Access the first row
print(df.iloc[0])

# Access the tenth row and the third column - a specific cell
print(df.iloc[9, 2])

# However, it is preferable to use .iat for single values
print(df.iat[9, 2])

0      125.070000
1      126.360001
2      125.019997
3      129.619995
4      130.149994
          ...
245    193.600006
246    193.050003
247    193.149994
248    193.580002
249    192.529999
Name: Close, Length: 250, dtype: float64
           Open       Close
0    130.279999  125.070000
1    126.889999  126.360001
2    127.129997  125.019997
3    126.010002  129.619995
4    130.470001  130.149994
..          ...         ...
245  195.179993  193.600006
246  193.610001  193.050003
247  192.490005  193.149994
248  194.139999  193.580002
249  193.899994  192.529999

[250 rows x 2 columns]
           Date        Open        High         Low       Close   Adj Close  \
157  2023-08-18  172.300003  175.100006  171.960007  174.490005  174.038345

       Volume
157  61114200
Date         2023-01-03
Open         130.279999
High         130.899994
Low          124.169998
Close            125.07
Adj Close    124.216301
Volume        112117500
Name: 0, dtype: object
137.2899932861328
137.2899932861328

### Exercise: End of Year

Display the data for the entire month of December 2023.

In [32]:
df[(df["Date"] >= "2023-12-01") & (df["Date"] <= "2023-12-31")]

,Date,Open,High,Low,Close,Adj Close,Volume
230,2023-12-01,190.330002,191.559998,189.229996,191.240005,190.996292,45679300
231,2023-12-04,189.979996,190.050003,187.449997,189.429993,189.188583,43389500
232,2023-12-05,190.210007,194.399994,190.179993,193.419998,193.173508,66628400
233,2023-12-06,194.449997,194.759995,192.110001,192.320007,192.074921,41089700
234,2023-12-07,193.630005,195.000000,193.589996,194.270004,194.022430,47477700
235,2023-12-08,194.199997,195.990005,193.669998,195.710007,195.460587,53377300
236,2023-12-11,193.110001,193.490005,191.419998,193.179993,192.933807,60943700
237,2023-12-12,193.080002,194.720001,191.720001,194.710007,194.461868,52696900
238,2023-12-13,195.089996,198.000000,194.850006,197.960007,197.707718,70404200
239,2023-12-14,198.020004,199.619995,196.160004,198.110001,197.857529,66831600
240,2023-12-15,197.529999,198.399994,197.000000,197.570007,197.318222,128256700
241,2023-12-18,196.089996,196.630005,194.389999,195.889999,195.640350,55751900
242,2023-12-19,196.160004,196.949997,195.889999,196.940002,196.689026,40714100
243,2023-12-20,196.899994,197.679993,194.830002,194.830002,194.581711,52242800
244,2023-12-21,196.100006,197.080002,193.500000,194.679993,194.431885,46482500
245,2023-12-22,195.179993,195.410004,192.970001,193.600006,193.353287,37122800
246,2023-12-26,193.610001,193.889999,192.830002,193.050003,192.803986,28919300
247,2023-12-27,192.490005,193.500000,191.089996,193.149994,192.903839,48087700
248,2023-12-28,194.139999,194.660004,193.169998,193.580002,193.333298,34049900
249,2023-12-29,193.899994,194.399994,191.729996,192.529999,192.284637,42628800

### Exercise: The First Fifty

Display the data for the first fifty (50) days of trading in the period.

In [33]:
df[:50] # Just like list indexing in Python

,Date,Open,High,Low,Close,Adj Close,Volume
0,2023-01-03,130.279999,130.899994,124.169998,125.070000,124.216301,112117500
1,2023-01-04,126.889999,128.660004,125.080002,126.360001,125.497498,89113600
2,2023-01-05,127.129997,127.769997,124.760002,125.019997,124.166641,80962700
3,2023-01-06,126.010002,130.289993,124.889999,129.619995,128.735229,87754700
4,2023-01-09,130.470001,133.410004,129.889999,130.149994,129.261627,70790800
5,2023-01-10,130.259995,131.259995,128.119995,130.729996,129.837677,63896200
6,2023-01-11,131.250000,133.509995,130.460007,133.490005,132.578842,69458900
7,2023-01-12,133.880005,134.259995,131.440002,133.410004,132.499390,71379600
8,2023-01-13,132.029999,134.919998,131.660004,134.759995,133.840149,57809700
9,2023-01-17,134.830002,137.289993,134.130005,135.940002,135.012100,63646600
10,2023-01-18,136.820007,138.610001,135.029999,135.210007,134.287094,69672800
11,2023-01-19,134.080002,136.250000,133.770004,135.270004,134.346695,58280400
12,2023-01-20,135.279999,138.020004,134.220001,137.869995,136.928925,80223600
13,2023-01-23,138.119995,143.320007,137.899994,141.110001,140.146820,81760300
14,2023-01-24,140.309998,143.160004,140.300003,142.529999,141.557114,66435100
15,2023-01-25,140.889999,142.429993,138.809998,141.860001,140.891693,65799300
16,2023-01-26,143.169998,144.250000,141.899994,143.960007,142.977371,54105100
17,2023-01-27,143.160004,147.229996,143.080002,145.929993,144.933914,70555800
18,2023-01-30,144.960007,145.550003,142.850006,143.000000,142.023926,64015300
19,2023-01-31,142.699997,144.339996,142.279999,144.289993,143.305099,65874500
20,2023-02-01,143.970001,146.610001,141.320007,145.429993,144.437317,77663600
21,2023-02-02,148.899994,151.179993,148.169998,150.820007,149.790543,118339000
22,2023-02-03,148.029999,157.380005,147.830002,154.500000,153.445419,154357300
23,2023-02-06,152.570007,153.100006,150.779999,151.729996,150.694336,69858300
24,2023-02-07,150.639999,155.229996,150.639999,154.649994,153.594391,83322600
25,2023-02-08,153.880005,154.580002,151.169998,151.919998,150.883026,64120100
26,2023-02-09,153.779999,154.330002,150.419998,150.869995,149.840179,56007100
27,2023-02-10,149.460007,151.339996,149.220001,151.009995,150.208237,57450700
28,2023-02-13,150.949997,154.259995,150.919998,153.850006,153.033157,62199000
29,2023-02-14,152.119995,153.770004,150.860001,153.199997,152.386597,61707600
30,2023-02-15,153.110001,155.500000,152.880005,155.330002,154.505295,65573800
31,2023-02-16,153.509995,156.330002,153.350006,153.710007,152.893906,68167900
32,2023-02-17,152.350006,153.000000,150.850006,152.550003,151.740051,59144100
33,2023-02-21,150.199997,151.300003,148.410004,148.479996,147.691666,58867200
34,2023-02-22,148.869995,149.949997,147.160004,148.910004,148.119400,51011300
35,2023-02-23,150.089996,150.339996,147.240005,149.399994,148.606796,48394200
36,2023-02-24,147.110001,147.190002,145.720001,146.710007,145.931076,55469600
37,2023-02-27,147.710007,149.169998,147.449997,147.919998,147.134628,44998500
38,2023-02-28,147.050003,149.080002,146.830002,147.410004,146.627350,50547000
39,2023-03-01,146.830002,147.229996,145.009995,145.309998,144.538483,55479000
40,2023-03-02,144.380005,146.710007,143.899994,145.910004,145.135330,52238100
41,2023-03-03,148.039993,151.110001,147.330002,151.029999,150.228119,70732300
42,2023-03-06,153.789993,156.300003,153.460007,153.830002,153.013275,87558000
43,2023-03-07,153.699997,154.029999,151.130005,151.600006,150.795120,56182000
44,2023-03-08,152.809998,153.470001,151.830002,152.869995,152.058365,47204800
45,2023-03-09,153.559998,154.539993,150.229996,150.589996,149.790466,53833600
46,2023-03-10,150.210007,150.940002,147.610001,148.500000,147.711563,68572400
47,2023-03-13,147.809998,153.139999,147.699997,150.470001,149.671097,84457100
48,2023-03-14,151.279999,153.399994,150.100006,152.589996,151.779846,73695900
49,2023-03-15,151.190002,153.250000,149.919998,152.990005,152.177734,77167900

### Exercise: Roughly Monthly

Display the data at each 21-day interval, over the entire period.

In [34]:
df[::21] # Again, like indexing a list. No start or end means we get the whole period.

,Date,Open,High,Low,Close,Adj Close,Volume
0,2023-01-03,130.279999,130.899994,124.169998,125.070000,124.216301,112117500
21,2023-02-02,148.899994,151.179993,148.169998,150.820007,149.790543,118339000
42,2023-03-06,153.789993,156.300003,153.460007,153.830002,153.013275,87558000
63,2023-04-04,166.600006,166.839996,165.110001,165.630005,164.750610,46278300
84,2023-05-04,164.889999,167.039993,164.309998,165.789993,164.909760,81235400
105,2023-06-05,182.630005,184.949997,178.039993,179.580002,178.873611,121946500
126,2023-07-06,189.839996,192.020004,189.199997,191.809998,191.055511,45094300
147,2023-08-04,185.520004,187.380005,181.919998,181.990005,181.274155,115799700
168,2023-09-05,188.279999,189.979996,187.610001,189.699997,189.208969,45280000
189,2023-10-04,171.089996,174.210007,170.970001,173.660004,173.210495,53020300
210,2023-11-02,175.520004,177.779999,175.460007,177.570007,177.110382,77334800
231,2023-12-04,189.979996,190.050003,187.449997,189.429993,189.188583,43389500

## Setting the Index

In a DataFrame, each row is assigned a unique index value. By default, this is just a number (starting at 0). When it makes sense, we can choose one of the other columns to be an index. For time series data, where each row represents a different point in time, we'll set our `Date` column as the index. This will make it easier for us to work with the data, and can speed up other operations later on.

In [35]:
# Convert the 'Date' column to a datetime object
df['Date'] = pd.to_datetime(df['Date'])

# Set the 'Date' column as the index
df.set_index('Date', inplace=True)

We convert the 'Date' column to a datetime object because pandas can recognise and efficiently work with datetime objects. We set the `Date` column as the index because in time-series data like ours, operations are time-based.

With the index set, we can now use it to access different portions of our data a little bit more easily. Because our indices are labeled, we can use `loc` for **label-based indexing**.

In [36]:
# Access a row
print(df.loc['2023-08-18'])

# Access a specific cell - we can use .loc
print(df.loc['2023-08-18', 'Close'])

# But it is preferable to use .at for a single cell
print(df.at['2023-08-18', 'Close'])

# Access a range
print(df.loc["2023-08-18":"2023-08-22"])

Open         1.723000e+02
High         1.751000e+02
Low          1.719600e+02
Close        1.744900e+02
Adj Close    1.740383e+02
Volume       6.111420e+07
Name: 2023-08-18 00:00:00, dtype: float64
174.49000549316406
174.49000549316406
                  Open        High         Low       Close   Adj Close  \
Date
2023-08-18  172.300003  175.100006  171.960007  174.490005  174.038345
2023-08-21  175.070007  176.130005  173.740005  175.839996  175.384842
2023-08-22  177.059998  177.679993  176.250000  177.229996  176.771240

              Volume
Date
2023-08-18  61114200
2023-08-21  46311900
2023-08-22  42084200

## Basic Operations
There are also many basic operations we can do with pandas, such as calculating the mean of a column, the maximum of a column, and so on.

In [37]:
# Calculate the mean of 'Close' prices
print("Mean close", df['Close'].mean())

# Find the maximum volume traded
print("Max volume", df['Volume'].max())

# Find the day that had the max volume traded
print("Max volume day", df['Volume'].idxmax())

# Be careful when using these operations on multiple columns
# We can calculate the mean of the high and low column like so
print("High/low COLUMN average")
print(df[["Low", "High"]].mean())

# Or we can calculate the mean high low of each row
print("High/low ROW average")
print(df[["Low", "High"]].mean(axis=1))

Mean close 172.54900030517578
Max volume 154357300
Max volume day 2023-02-03 00:00:00
High/low COLUMN average
Low     170.98188
High    173.85752
dtype: float64
High/low ROW average
Date
2023-01-03    127.534996
2023-01-04    126.870003
2023-01-05    126.264999
2023-01-06    127.589996
2023-01-09    131.650002
                 ...
2023-12-22    194.190002
2023-12-26    193.360001
2023-12-27    192.294998
2023-12-28    193.915001
2023-12-29    193.064995
Length: 250, dtype: float64

### Exercise: Apple Quarters

Compare AAPL's *median* **high** in Q1 and Q2 of 2023. In which quarter was it higher? Use the cell below to show your work.

In [38]:
# It may be helpful to break the problem down into two steps
# First, we get the subset
q1 = df.loc["2023-01":"2023-03"]
q2 = df.loc["2023-04":"2023-06"]

# Then we find and print the medians for a visual comparison
print("Q1", q1["High"].median()) 
print("Q2", q2["High"].median()) # HIGHER

Q1 151.23999786376953
Q2 173.96499633789062

### Exercise: March Madness

Looking only at the month of March, print the following information:

* First opening price of the period
* Last close price of the period
* Total volume traded over the period

In [39]:
# First we get the subset
march_data = df.loc["2023-03"]

# Then print the relevant information
print("Initial opening", march_data["Open"].iloc[0])
print("Closing", march_data["Close"].iloc[-1])
print("Total Volume", march_data["Volume"].sum())

Initial opening 146.8300018310547
Closing 164.89999389648438
Total Volume 1520266600